.tuyenxe {
  .part1 {
    background-position-y: 100%;
    .opa {
      // cái nền màu xanh lá cây
      background-color: rgb(4, 101, 39);
      width: 100%;
      background-size: cover;
      height: 400%;
    }

    .anhbus {
      //cái ảnh xe bus nhỏ nhỏ để trang trí
      background-image: url("https://i.imgur.com/3jRABMR.png");
      width: 100%;
      height: 50%;
      background-size: cover;
      border-radius: 1%;
      transform: translate(150%, 120%);
    }

    .nentuyenxe {
      // cái hình nền oto
      background-image: url("https://scontent.fhan14-5.fna.fbcdn.net/v/t39.30808-6/313410420_2143391182515202_6955236675062821931_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeE1vxN94SVLWotuDWm9owg7ZHTn6RF3bHRkdOfpEXdsdKekS4QmRC7sGzTU7_FId52U5wkMgvreDQh97JUW2N7n&_nc_ohc=j3Kgsup7VzAQ7kNvgHWN-va&_nc_zt=23&_nc_ht=scontent.fhan14-5.fna&_nc_gid=AGEKPJxxNdsycIQtY3um1vz&oh=00_AYBT-B4phRpmQHG3ZBWIeBL9eRFsQ_1eQv-NJV2krr8gZA&oe=672AE6E1");
      width: 100%;
      height: 147%;
      opacity: 0.23;
      background-size: cover;
      background-position-x: 39%;
      background-repeat: no-repeat;
      // transform: translate(-27rem, 0rem);
    }

    .title {
      //cái title ở bên trên
      background-color: rgb(96, 222, 104);
      color: rgb(54, 54, 54);
      border-radius: 0.5rem;
      transform: translate(-6%, 0%);
      background-size: cover;
      width: 200%;
      height: 18%;
    }

    .title2 {
      //cái title ở bên dưới
      background-color: rgb(165, 223, 169);
      color: rgb(54, 54, 54);
      border-radius: 0.5rem;
      transform: translate(0%, 1300%);
      background-size: cover;
      width: 200%;
      height: 12.4%;
    }

    .trangtri1 {
      //cái trang trí dưới cùng màu xanh
      background-color: rgb(58, 162, 65);
      color: rgb(54, 54, 54);
      border-radius: 1%;
      transform: translate(200%, 115%);
      background-size: cover;
      width: 150%;
      height: 170%;
    }

    .trangtri2 {
      //cái trang trí dưới cùng màu xanh
      background-color: rgb(49, 196, 59);
      color: rgb(54, 54, 54);
      border-radius: 1rem;
      transform: translate(180%, 170%);
      background-size: cover;
      width: 150%;
      height: 170%;
    }

    .trangtri3 {
      //cái trang trí dưới cùng màu xanh
      background-color: rgb(90, 203, 90);
      color: rgb(54, 54, 54);
      border-radius: 1rem;
      transform: translate(160%, 236.5%);
      background-size: cover;
      width: 150%;
      height: 170%;
    }

    .stitle2 {
      //cái nền bên dưới chỗ xe bus
      background-color: rgb(120, 161, 122);
      color: rgb(54, 54, 54);
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      transform: translate(30%, -1.3%);
      background-size: cover;
      width: 140%;
      height: 3220%;
    }

    .stitle {
      //cái nền chỗ "vậy mời bạn....." ở bên trên
      background-color: rgb(101, 136, 104);
      color: rgb(0, 0, 0);
      border-radius: 0.5rem;
      transform: translate(-6%, 50%);
      background-size: cover;
      width: 150%;
      height: 45%;
    }
    .intro {
      //cái hình chữ nhật ở bên dưới của cái đầu tiên
      background-color: rgb(158, 194, 160);
      color: rgb(54, 54, 54);
      border-radius: 0.5rem;
      background-size: cover;
      top: 5.5%;
      left: 5%;
      width: 19%;
      height: 58%;
    }

    .intro2 {
      //cái hình chữ nhật ở bên dưới của cái bên dưới
      background-color: rgb(143, 187, 146);
      color: rgb(54, 54, 54);
      border-radius: 0.5rem;
      transform: translate(-10%, 34.77%);
      background-size: cover;
      width: 120%;
      height: 425%;
    }

    .lists {
      // mấy cái hình tự chuyển
      top: 0%;
      left: 0%;
      transform: translate(120%, 5%);
      background-size: cover;
      width: 40%;
      height: 100%;
      .lists-item {
        font-family: "Roboto", sans-serif;
        font-size: 100% /* 20px */;
        padding-left: 9%;
        line-height: 100% /* 28px */;
        font-weight: 600;
        display: flex;
        align-items: end;
        justify-content: flex-start;
        background-size: cover;
        width: 23%;
        height: 80%;
        border-radius: 0.7rem;
        color: white;
      }

      .lists-item:hover {
        //hiệu ứng chứ khi di chuột vào
        padding-right: 0rem;
        font-size: 200% /* 30px */;
        background-size: cover;
        line-height: 80% /* 36px */;
      }
    }

    //BUS74
    .nen74 {
      //nen trang tri 74
      background-color: rgb(59, 118, 59);
      color: rgb(0, 0, 0);
      border-radius: 0.5rem;
      transform: translate(0%, 10%);
      background-size: cover;
      width: 50%;
      height: 350%;
    }
    .hinh74 {
      // hình 74
      background-image: url("https://scontent-lax3-2.xx.fbcdn.net/v/t39.30808-6/418563521_430705389468073_4414213726377274277_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeG8jcQp25ibJfzEqZ87hF1FVI6_gViQiFJUjr-BWJCIUlzW2xPMzbcHN0Pi1pGyNpT1VSJvA40bGzHmKDJIBEzV&_nc_ohc=-VkoAHrj4toQ7kNvgHzDHXg&_nc_zt=23&_nc_ht=scontent-lax3-2.xx&_nc_gid=AsbOLTrL8L-YawqDVo-0n2M&oh=00_AYDeNUW00ZXKnCsvivPzn0bkXZUsM-HhtYH1ywi5ulkSzw&oe=67327164");
      width: 48%;
      height: 338%;
      background-size: cover;
      border-radius: 3%;
      transform: translate(0%, 10.2%);
    }
    .muiten74 {
      // mui ten 74
      background-image: url("https://i.imgur.com/zC8NFDA.png");
      width: 72%;
      height: 200%;
      background-size: cover;
      border-radius: 0%;
      transform: translate(40%, -21%);
    }
    .thongtin74 {
      // thông tin 74
      width: 150%;
      height: 150%;
      font-size: 120%;
      color: rgb(0, 0, 0);
      text-align: left; //căn lề
      letter-spacing: 1px;
      transform: translate(38%, 86%);
    }
    .bus74 {
      // thông tin 107
      width: 55%;
      height: 2.5%;
      font-size: 250%;
      color: rgb(54, 54, 54);
      text-align: left; //căn lề
      letter-spacing: 1px;
      transform: translate(98%, 1100%);
    }
    .nenlotrinh74 {
      // cái nền
      background-color: rgb(149, 212, 149);
      color: rgb(54, 54, 54);
      border-radius: 1.5rem;
      transform: translate(47%, 150%);
      background-size: cover;
      width: 115%;
      height: 190%;
    }
    .lotrinh74 {
      // lo trinh 74
      width: 110%;
      height: 34%;
      font-size: 100%;
      color: rgb(0, 0, 0);
      text-align: center; //căn lề
      letter-spacing: 0px;
      transform: translate(50%, 900%);
    }

    //BUS88
    .nen88 {
      //nen trang tri 88
      background-color: rgb(59, 118, 59);
      color: rgb(0, 0, 0);
      border-radius: 0.5rem;
      transform: translate(0%, 165%);
      background-size: cover;
      width: 50%;
      height: 350%;
    }
    .hinh88 {
      // hình 88
      background-image: url("https://scontent-lax3-1.xx.fbcdn.net/v/t39.30808-1/309536072_425620629685152_1602324053176086874_n.jpg?stp=dst-jpg_s720x720&_nc_cat=105&ccb=1-7&_nc_sid=f4b9fd&_nc_eui2=AeFuLUdOQinuiyX1--vFzYt0YAi8QSfx0QZgCLxBJ_HRBnHPN28RzCjtgqTCLN-r5xrYiAZ45HUCsLR1KtAD76Zj&_nc_ohc=zgzWCgcfE2MQ7kNvgF_oKOJ&_nc_zt=24&_nc_ht=scontent-lax3-1.xx&_nc_gid=Aw6jnHT-xGnWzezL4m0Sw8E&oh=00_AYD60HWQfQ9h3A5otacjx4DDUH-WMxxx_iI11rddY6IcuA&oe=673279DF");
      width: 48%;
      height: 338%;
      background-size: cover;
      border-radius: 3%;
      transform: translate(0%, 171%);
    }
    .muiten88 {
      // mui ten 88
      background-image: url("https://i.imgur.com/zC8NFDA.png");
      width: 72%;
      height: 200%;
      background-size: cover;
      border-radius: 0%;
      transform: translate(40%, 250%);
    }
    .thongtin88 {
      // thông tin 88
      width: 150%;
      height: 150%;
      font-size: 120%;
      color: rgb(0, 0, 0);
      text-align: left; //căn lề
      letter-spacing: 1px;
      transform: translate(38%, 447%);
    }
    .bus88 {
      // thông tin 107
      width: 55%;
      height: 48.5%;
      font-size: 250%;
      color: rgb(54, 54, 54);
      text-align: left; //căn lề
      letter-spacing: 1px;
      transform: translate(98%, 1179%);
    }
    .nenlotrinh88 {
      // cái nền
      background-color: rgb(149, 212, 149);
      color: rgb(54, 54, 54);
      border-radius: 1.5rem;
      transform: translate(47%, 440%);
      background-size: cover;
      width: 115%;
      height: 190%;
    }
    .lotrinh88 {
      // lo trinh 88
      width: 100%;
      height: 90%;
      font-size: 110%;
      color: rgb(0, 0, 0);
      text-align: center; //căn lề
      letter-spacing: 0px;
      transform: translate(60%, 950%);
    }

    //BUS119
    .nen119 {
      //nen trang tri 119
      background-color: rgb(59, 118, 59);
      color: rgb(54, 54, 54);
      border-radius: 0.5rem;
      transform: translate(0%, 318%);
      background-size: cover;
      width: 50%;
      height: 350%;
    }
    .hinh119 {
      // hình 119
      background-image: url("https://scontent-lax3-1.xx.fbcdn.net/v/t39.30808-6/461280869_927511896069206_990498537124900241_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeH0dFBcsZTpYd31X4U1jESqQ_iXbEmoGS1D-JdsSagZLUq5YHuiXgOeiwBDhPgWneMOGDGLSjp8KZSGB2FZLRKG&_nc_ohc=My44Wb0DEwwQ7kNvgH2936M&_nc_zt=23&_nc_ht=scontent-lax3-1.xx&_nc_gid=AJuMciLc7rbbeKWIZ67rBOh&oh=00_AYCePBW_zCIIp-Zmi2hbFmmWncyL_z5DTibjBE0a61aVOQ&oe=67329B04");
      width: 48%;
      height: 338%;
      background-size: cover;
      border-radius: 3%;
      transform: translate(0%, 329.4%);
    }
    .muiten119 {
      // mui ten 119
      background-image: url("https://i.imgur.com/zC8NFDA.png");
      width: 72%;
      height: 200%;
      background-size: cover;
      border-radius: 0%;
      transform: translate(40%, 518%);
    }
    .thongtin119 {
      // thông tin 119
      width: 150%;
      height: 150%;
      font-size: 120%;
      color: rgb(0, 0, 0);
      text-align: left; //căn lề
      letter-spacing: 1px;
      transform: translate(38%, 801%);
    }
    .bus119 {
      // thông tin 107
      width: 55%;
      height: 94%;
      font-size: 250%;
      color: rgb(54, 54, 54);
      text-align: left; //căn lề
      letter-spacing: 1px;
      transform: translate(98%, 1179%);
    }
    .nenlotrinh119 {
      // cái nền
      background-color: rgb(149, 212, 149);
      color: rgb(54, 54, 54);
      border-radius: 1.5rem;
      transform: translate(47%, 720%);
      background-size: cover;
      width: 115%;
      height: 190%;
    }
    .lotrinh119 {
      // lo trinh 119
      width: 100%;
      height: 100%;
      font-size: 100%;
      color: rgb(0, 0, 0);
      text-align: center; //căn lề
      letter-spacing: 0px;
      transform: translate(60%, 1387%);
    }

    //BUS107
    .nen107 {
      //nen trang tri 107
      background-color: rgb(59, 118, 59);
      color: rgb(54, 54, 54);
      border-radius: 0.5rem;
      transform: translate(0%, 473%);
      background-size: cover;
      width: 50%;
      height: 350%;
    }
    .hinh107 {
      // hình 107
      background-image: url("https://scontent-lax3-2.xx.fbcdn.net/v/t1.6435-9/141173082_1740132452831694_1852675543917537417_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEWGM_neVIOOloMWAaZ4ga7_nmXdqsyY2j-eZd2qzJjaKKzxSII3RaopYql_vv4Mx_t_32r-QJ1z_URHpby6CH0&_nc_ohc=tdmkMGMcRPAQ7kNvgEEtwLZ&_nc_zt=23&_nc_ht=scontent-lax3-2.xx&_nc_gid=Ahl9HdG45Sx4bxce1Y_z56z&oh=00_AYDuTh2oOhUHIdmtIhhaYVUjfvNqWGibu7rLXVWvox-Ubg&oe=675415B3");
      width: 48%;
      height: 338%;
      background-size: cover;
      border-radius: 3%;
      transform: translate(0%, 490%);
    }
    .muiten107 {
      // mui ten 107
      background-image: url("https://i.imgur.com/zC8NFDA.png");
      width: 72%;
      height: 200%;
      background-size: cover;
      border-radius: 0%;
      transform: translate(40%, 789%);
    }
    .thongtin107 {
      // thông tin 107
      width: 150%;
      height: 150%;
      font-size: 120%;
      color: rgb(0, 0, 0);
      text-align: left; //căn lề
      letter-spacing: 1px;
      transform: translate(38%, 1170%);
    }
    .bus107 {
      // thông tin 107
      width: 55%;
      height: 140%;
      font-size: 250%;
      color: rgb(54, 54, 54);
      text-align: left; //căn lề
      letter-spacing: 1px;
      transform: translate(98%, 1179%);
    }
    .nenlotrinh107 {
      // cái nền
      background-color: rgb(149, 212, 149);
      color: rgb(54, 54, 54);
      border-radius: 1.5rem;
      transform: translate(47%, 1015%);
      background-size: cover;
      width: 115%;
      height: 190%;
    }
    .lotrinh107 {
      // lo trinh 107
      width: 110%;
      height: 90%;
      font-size: 13.5px;
      color: rgb(0, 0, 0);
      text-align: center; //căn lề
      letter-spacing: 0px;
      transform: translate(52%, 2150%);
    }

    //BUS117
    .nen117 {
      //nen trang tri 117
      background-color: rgb(59, 118, 59);
      color: rgb(54, 54, 54);
      border-radius: 0.5rem;
      transform: translate(0%, 633%);
      background-size: cover;
      width: 50%;
      height: 350%;
    }
    .hinh117 {
      // hình 117
      background-image: url("https://i.ytimg.com/vi/rBffIIBa4Ec/maxresdefault.jpg");
      width: 48%;
      height: 338%;
      background-size: cover;
      border-radius: 3%;
      transform: translate(0%, 655.5%);
    }
    .muiten117 {
      // mui ten 117
      background-image: url("https://i.imgur.com/zC8NFDA.png");
      width: 72%;
      height: 200%;
      background-size: cover;
      border-radius: 0%;
      transform: translate(40%, 1068%);
    }
    .thongtin117 {
      // thông tin 117
      width: 150%;
      height: 150%;
      font-size: 120%;
      color: rgb(0, 0, 0);
      text-align: left; //căn lề
      letter-spacing: 1px;
      transform: translate(38%, 1540%);
    }
    .bus117 {
      // thông tin 107
      width: 55%;
      height: 187%;
      font-size: 250%;
      color: rgb(54, 54, 54);
      text-align: left; //căn lề
      letter-spacing: 1px;
      transform: translate(98%, 1179%);
    }
    .nenlotrinh117 {
      // cái nền
      background-color: rgb(149, 212, 149);
      color: rgb(54, 54, 54);
      border-radius: 1.5rem;
      transform: translate(47%, 1300%);
      background-size: cover;
      width: 115%;
      height: 190%;
    }
    .lotrinh117 {
      // lo trinh 117
      width: 100%;
      height: 120%;
      font-size: 100%;
      color: rgb(0, 0, 0);
      text-align: center; //căn lề
      letter-spacing: 0px;
      transform: translate(62%, 2060%);
    }

    .nenvang {
      //nền màu vàng
      background-color: rgb(160, 128, 34);
      color: rgb(54, 54, 54);
      border-radius: 1rem;
      transform: translate(0%, 136%);
      background-size: cover;
      height: 260%;
      width: 100%;
    }

    .anhnenvang {
      // cái hình nền oto
      background-image: url("https://scontent-lax3-1.xx.fbcdn.net/v/t39.30808-6/458495217_912386467581749_4345322354393478955_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=aa7b47&_nc_eui2=AeHPSesF4RiAd3Bu_4PhCC1kzNBKs4ENntfM0EqzgQ2e1_lkzc5MkJPInpQVY_1PwgS28ZKtD9DwyEgDvUw3jNHx&_nc_ohc=63NecGU_DiwQ7kNvgEXJyGw&_nc_zt=23&_nc_ht=scontent-lax3-1.xx&_nc_gid=AArxWgXwIAOwPkDXd0BEFMS&oh=00_AYAvi-TGLFaqNow6a-hi_erEq44subsBrU-RstTCkmbFEA&oe=67329595");
      width: 100%;
      height: 45%;
      opacity: 0.23;
      border-radius: 1rem;
      background-size: cover;
      transform: translate(0rem, 0rem);
    }

    .title3 {
      //cái title ở bên trên
      background-color: rgb(255, 183, 0);
      color: rgb(54, 54, 54);
      border-radius: 1rem;
      font-size: 2.2rem;
      transform: translate(4rem, -20rem);
      background-size: cover;
      width: 46rem;
      height: 7rem;
    }

    .nengioithieuapp {
      //cái nền chỗ giới thiệu app bla bla
      background-color: rgb(196, 155, 69);
      color: rgb(0, 0, 0);
      border-radius: 0.5rem;
      font-size: 1.3rem;
      transform: translate(6rem, -11rem);
      background-size: cover;
      width: 38rem;
      height: 18rem;
    }
    .gioithieuapp {
      width: 36rem;
      font-size: 1rem;
      color: rgb(0, 0, 0);
      text-align: left; //căn lề
      letter-spacing: 0px;
      transform: translate(7rem, -10rem);
    }

    .nengioithieuapp1 {
      //cái nền chỗ giới thiệu app bla bla
      background-color: rgb(196, 155, 69);
      color: rgb(0, 0, 0);
      border-radius: 0.5rem;
      font-size: 1.3rem;
      transform: translate(6rem, -1rem);
      background-size: cover;
      width: 38rem;
      height: 6rem;
    }
    .gioithieuapp1 {
      width: 36rem;
      font-size: 1.3rem;
      color: rgb(0, 0, 0);
      text-align: left; //căn lề
      letter-spacing: 0px;
      transform: translate(7rem, 0rem);
    }
    .keoxuong {
      background-image: url("https://i.imgur.com/yFYdMRR.png");
      width: 15rem;
      height: 6rem;
      background-size: cover;
      border-radius: 0%;
      transform: translate(18rem, 3rem);
    }

    .anhapp {
      // anh quang cao app
      background-image: url("https://scontent.fsgn2-3.fna.fbcdn.net/v/t39.30808-6/435061258_815500763941522_3575040056830748563_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGbzyFxT2Sx3VLCfVrudyiT3bzCfohwLQXdvMJ-iHAtBaj8Ois4KJMWKX5Y9QqxSW36lnw2HASTnhNjHCHR6YCh&_nc_ohc=VUxaGqNoCUoQ7kNvgGnGVi3&_nc_ht=scontent.fsgn2-3.fna&_nc_gid=AU14porzt-eKi0xj6d0bAML&oh=00_AYCU3PUinbsOFrfiAnrISMupT5MqV0IBvfVEaI5t8KZzng&oe=67242DA4");
      width: 26rem;
      height: 26rem;
      background-size: cover;
      border-radius: 1rem;
      transform: translate(45rem, 12rem);
    }

    .yellow {
      //cái hình chữ nhật màu vàng để làm nền cho đẹp
      background-color: rgb(255, 227, 103);
      border-radius: 0.5rem;
      background-size: cover;
      transform: translate(5rem, 9rem);
      width: 41rem;
      height: 43rem;
    }

    .yellow2 {
      //cái hình chữ nhật màu vàng để làm nền cho đẹp
      background-color: rgb(255, 152, 33);
      border-radius: 1rem;
      background-size: cover;
      transform: translate(55rem, 17rem);
      width: 16rem;
      height: 79rem;
    }

    //APPBUSMAP
    .nenapp1 {
      background-color: rgb(59, 118, 59);
      color: rgb(54, 54, 54);
      border-radius: 1rem;
      transform: translate(45rem, 12.1rem);
      background-size: cover;
      width: 13.5rem;
      height: 13.5rem;
    }
    .hinhapp1 {
      background-image: url("https://play-lh.googleusercontent.com/oRulL_tjJp0l1eG_lxZC7TI9wF9OArBY1oOBvGJFiP0ZdFd1LnZc9sg1S7O0rrJzvs6k");
      width: 13rem;
      height: 13rem;
      background-size: cover;
      border-radius: 1rem;
      transform: translate(45rem, 12.1rem);
    }
    .muitenapp1 {
      background-image: url("https://i.imgur.com/h7E8MKP.png");
      width: 15rem;
      height: 4rem;
      background-size: cover;
      border-radius: 0%;
      transform: translate(56rem, 20rem);
    }
    .nenthongtinapp1 {
      // cái nền
      background-color: rgb(138, 193, 138);
      color: rgb(54, 54, 54);
      border-radius: 1.5rem;
      transform: translate(11rem, 21.1rem);
      background-size: cover;
      width: 36rem;
      height: 9rem;
    }
    .thongtinapp1 {
      width: 33rem;
      font-size: 1rem;
      color: rgb(0, 0, 0);
      text-align: left; //căn lề
      letter-spacing: 0px;
      transform: translate(11rem, 12rem);
    }
    .thongtinapp2 {
      width: 33rem;
      font-size: 1rem;
      color: rgb(0, 0, 0);
      text-align: left; //căn lề
      letter-spacing: 0px;
      transform: translate(11rem, 31rem);
    }
    .thongtinapp3 {
      width: 33rem;
      font-size: 1rem;
      color: rgb(0, 0, 0);
      text-align: left; //căn lề
      letter-spacing: 0px;
      transform: translate(11rem, 50rem);
    }
    .thongtinapp4 {
      width: 33rem;
      font-size: 1rem;
      color: rgb(0, 0, 0);
      text-align: left; //căn lề
      letter-spacing: 0px;
      transform: translate(11rem, 60rem);
    }
    .nenlinkapp1 {
      // cái nền
      background-color: rgb(59, 177, 59);
      color: rgb(54, 54, 54);
      border-radius: 1.5rem;
      transform: translate(14rem, 20.5rem);
      background-size: cover;
      width: 33rem;
      height: 5rem;
    }
    .nenlinkapp1:hover {
      a:visited {
        color: rgb(182, 233, 0);
      }

      /* mouse over link */
      a:hover {
        color: rgb(166, 191, 0);
      }

      /* selected link */
      a:active {
        color: rgb(43, 0, 255);
      }
    }

    //APPMOOVIT
    .nenapp2 {
      background-color: rgb(116, 66, 19);
      color: rgb(54, 54, 54);
      border-radius: 1rem;
      transform: translate(45rem, 31rem);
      background-size: cover;
      width: 13.5rem;
      height: 13.5rem;
    }
    .hinhapp2 {
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ45zEBR5nllwi2hKu2SqCf8u8svYm4QHVjuw&s");
      width: 13rem;
      height: 13rem;
      background-size: cover;
      border-radius: 1rem;
      transform: translate(45rem, 31rem);
    }
    .muitenapp2 {
      background-image: url("https://i.imgur.com/Hd9NVBs.png");
      width: 16.4rem;
      height: 4rem;
      background-size: cover;
      border-radius: 0%;
      transform: translate(55rem, 29.7rem);
    }
    .nenthongtinapp2 {
      // cái nền
      background-color: rgb(245, 145, 63);
      color: rgb(54, 54, 54);
      border-radius: 1.5rem;
      transform: translate(11rem, 31rem);
      background-size: cover;
      width: 36rem;
      height: 9rem;
    }
    .nenlinkapp2 {
      // cái nền
      background-color: rgb(143, 83, 46);
      color: rgb(54, 54, 54);
      border-radius: 1.5rem;
      transform: translate(14rem, 39.5rem);
      background-size: cover;
      width: 33rem;
      height: 5rem;
    }
    .nenlinkapp2:hover {
      a:visited {
        color: rgb(0, 208, 62);
      }

      /* mouse over link */
      a:hover {
        color: rgb(29, 126, 0);
      }

      /* selected link */
      a:active {
        color: rgb(43, 0, 255);
      }
    }

    //APPGGMAP
    .nenapp3 {
      background-color: rgb(116, 66, 19);
      color: rgb(54, 54, 54);
      border-radius: 1rem;
      transform: translate(45rem, 50rem);
      background-size: cover;
      width: 13.5rem;
      height: 13.5rem;
    }
    .hinhapp3 {
      background-image: url("https://i.pinimg.com/originals/39/85/4b/39854b4e7ba1386a8d05eedb63796ac7.png");
      width: 13rem;
      height: 13rem;
      background-size: cover;
      border-radius: 1rem;
      transform: translate(45rem, 50rem);
    }
    .muitenapp3 {
      background-image: url("https://i.imgur.com/UdHOT87.png");
      width: 16.4rem;
      height: 4rem;
      background-size: cover;
      border-radius: 0%;
      transform: translate(55rem, 48.7rem);
    }
    .nenthongtinapp3 {
      // cái nền
      background-color: rgb(42, 142, 236);
      color: rgb(54, 54, 54);
      border-radius: 1.5rem;
      transform: translate(11rem, 50rem);
      background-size: cover;
      width: 36rem;
      height: 9rem;
    }
    .nenlinkapp3 {
      // cái nền
      background-color: rgb(27, 111, 171);
      color: rgb(54, 54, 54);
      border-radius: 1.5rem;
      transform: translate(14rem, 58.5rem);
      background-size: cover;
      width: 33rem;
      height: 5rem;
    }
    .nenlinkapp3:hover {
      a:visited {
        color: rgb(255, 145, 0);
      }

      /* mouse over link */
      a:hover {
        color: rgb(191, 60, 0);
      }

      /* selected link */
      a:active {
        color: rgb(43, 0, 255);
      }
    }

    //APP4 TIMBUS
    .nenapp4 {
      background-color: rgb(116, 66, 19);
      color: rgb(54, 54, 54);
      border-radius: 1rem;
      transform: translate(45rem, 60rem);
      background-size: cover;
      width: 13.5rem;
      height: 13.5rem;
    }
    .hinhapp4 {
      background-image: url("https://play-lh.googleusercontent.com/vc4gBkmfCFWt_z2_uolyBI1BKcASew72MbvOsRt9LnRr8WW0-tQq2xQyk-rXzTcxzhkv=w480-h960-rw");
      width: 13rem;
      height: 13rem;
      background-size: cover;
      border-radius: 1rem;
      transform: translate(45rem, 60rem);
    }
    .muitenapp4 {
      background-image: url("https://i.imgur.com/48Va8oD.png");
      width: 17rem;
      height: 5rem;
      background-size: cover;
      border-radius: 0%;
      transform: translate(54.5rem, 67.3rem);
    }
    .nenthongtinapp4 {
      // cái nền
      background-color: rgb(255, 230, 1);
      color: rgb(54, 54, 54);
      border-radius: 1.5rem;
      transform: translate(11rem, 69rem);
      background-size: cover;
      width: 36rem;
      height: 9rem;
    }
    .nenlinkapp4 {
      // cái nền
      background-color: rgb(172, 149, 0);
      color: rgb(54, 54, 54);
      border-radius: 1.5rem;
      transform: translate(14rem, 68.5rem);
      background-size: cover;
      width: 33rem;
      height: 5rem;
    }
    .nenlinkapp4:hover {
      a:visited {
        color: rgb(55, 0, 255);
      }

      /* mouse over link */
      a:hover {
        color: rgb(0, 184, 25);
      }

      /* selected link */
      a:active {
        color: rgb(43, 0, 255);
      }
    }

    .cuoicung {
      //cái mau den cuoi cùng
      background-color: rgb(34, 34, 34);
      background-size: cover;
      transform: translate(0%, 2400%);
      max-width: 100%;
      height: 15rem;
    }
    .vechungtoi {
      width: 33rem;
      text-decoration: underline;
      font-size: 1rem;
      color: rgb(225, 225, 225);
      text-align: left; //căn lề
      letter-spacing: 0px;
      transform: translate(45rem, 3rem);
    }
    .fanpage {
      width: 33rem;
      text-decoration: underline;
      font-size: 1rem;
      color: rgb(225, 225, 225);
      text-align: left; //căn lề
      letter-spacing: 0px;
      transform: translate(45rem, 4.5rem);
    }
    .diachi {
      width: 30rem;
      text-decoration: underline;
      font-size: 1rem;
      color: rgb(225, 225, 225);
      text-align: left; //căn lề
      letter-spacing: 0px;
      transform: translate(2rem, 4rem);
    }
    .sdt {
      width: 33rem;
      font-size: 1rem;
      color: rgb(225, 225, 225);
      text-align: left; //căn lề
      letter-spacing: 0px;
      transform: translate(2rem, 7rem);
    }
    .gmail {
      width: 33rem;
      font-size: 1rem;
      color: rgb(225, 225, 225);
      text-align: left; //căn lề
      letter-spacing: 0px;
      transform: translate(2rem, 5rem);
    }
    .hinhlogo {
      background-image: url("https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808-1/462494364_122097266150567799_5322384466882477043_n.jpg?stp=cp6_dst-jpg_s720x720&_nc_cat=108&ccb=1-7&_nc_sid=f4b9fd&_nc_eui2=AeETQ47MYry3C171yJn9WU1uaBzwzO3sZLBoHPDM7exksFkNPrcBhjPPqB8rIqxC_oTQZG-9EiYszoBiqgr6KCqF&_nc_ohc=TSNALvOd1mUQ7kNvgFGfCVb&_nc_zt=24&_nc_ht=scontent.fhan2-3.fna&_nc_gid=AHyfI_saKWlr6hBNhABQkMQ&oh=00_AYDDSrvs19qPInmfb9Od303_779mnlhqcfT0Zc06Hsb2Qw&oe=6724F9E0");
      width: 3rem;
      height: 3rem;
      font-size: 1.4rem;
      color: antiquewhite;
      background-size: cover;
      border-radius: 50%;
      transform: translate(2rem, -4rem);
    }
  }
}
