
:root{
    --bg-current: white;
    --bg-body: #eaeaea;
    --cl-text: #E0702B;
}

body{
    background-color: #eaeaea;
}
.cuoicung {
    /* //cái mau den cuoi cùng */
    background-color: rgb(34, 34, 34);
    background-size: cover;
    /* transform: translate(0%, 2400%); */
    width: 100%;
    height: 15rem;
  }
  .vechungtoi {
    width: 33rem;
    text-decoration: underline;
    font-size: 1rem;
    color: rgb(225, 225, 225);
    text-align: left; /* can le */
    letter-spacing: 0px;
    transform: translate(45rem, 3rem);
  }
  .fanpage {
    width: 33rem;
    text-decoration: underline;
    font-size: 1rem;
    color: rgb(225, 225, 225);
    text-align: left; /* can le */
    letter-spacing: 0px;
    transform: translate(45rem, 4.5rem)
  }
  .diachi {
    width: 30rem;
    text-decoration: underline;
    font-size: 1rem;
    color: rgb(225, 225, 225);
    text-align: left;/* can le */
    letter-spacing: 0px;
    transform: translate(2rem, 4rem)
  }
  .sdt {
    width: 33rem;
    font-size: 1rem;
    color: rgb(225, 225, 225);
    text-align: left; /* can le */
    letter-spacing: 0px;
    transform: translate(2rem, 7rem);
  }
  .hinhlogo{
    background-image: url("https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808-1/462494364_122097266150567799_5322384466882477043_n.jpg?stp=cp6_dst-jpg_s720x720&_nc_cat=108&ccb=1-7&_nc_sid=f4b9fd&_nc_eui2=AeETQ47MYry3C171yJn9WU1uaBzwzO3sZLBoHPDM7exksFkNPrcBhjPPqB8rIqxC_oTQZG-9EiYszoBiqgr6KCqF&_nc_ohc=TSNALvOd1mUQ7kNvgFGfCVb&_nc_zt=24&_nc_ht=scontent.fhan2-3.fna&_nc_gid=AHyfI_saKWlr6hBNhABQkMQ&oh=00_AYDDSrvs19qPInmfb9Od303_779mnlhqcfT0Zc06Hsb2Qw&oe=6724F9E0");
    width: 3rem;
    height: 3rem;
    font-size: 1.4rem;
    color: antiquewhite;
    background-size: cover;
    border-radius: 50%;
    transform: translate(2rem, -4rem);
  }

.oorange{
  color: #E0702B;
}
*{
  transition: ease-in-out 300ms;
}