:root {
  --bg-current: white;
  --bg-body: #eaeaea;
  --cl-text: #e0702b;
}

body {
  background-color: #eaeaea;
}
.cuoicung {
  /* //cái mau den cuoi cùng */
  background-color: rgb(34, 34, 34);
  background-size: cover;
  /* transform: translate(0%, 2400%); */
  width: 100%;
  height: 15rem;
}
.vechungtoi {
  width: 33rem;
  text-decoration: underline;
  font-size: 1rem;
  color: rgb(225, 225, 225);
  text-align: left; /* can le */
  letter-spacing: 0px;
  transform: translate(45rem, 3rem);
}
.fanpage {
  width: 33rem;
  text-decoration: underline;
  font-size: 1rem;
  color: rgb(225, 225, 225);
  text-align: left; /* can le */
  letter-spacing: 0px;
  transform: translate(45rem, 4.5rem);
}
.diachi {
  width: 30rem;
  text-decoration: underline;
  font-size: 1rem;
  color: rgb(225, 225, 225);
  text-align: left; /* can le */
  letter-spacing: 0px;
  transform: translate(2rem, 4rem);
}
.sdt {
  width: 33rem;
  font-size: 1rem;
  color: rgb(225, 225, 225);
  text-align: left; /* can le */
  letter-spacing: 0px;
  transform: translate(2rem, 7rem);
}
.hinhlogo {
  background-image: url(../public/LogoWWeb.jpg);
  width: 3rem;
  height: 3rem;
  font-size: 1.4rem;
  color: antiquewhite;
  background-size: cover;
  border-radius: 50%;
  transform: translate(2rem, -4rem);
}

.oorange {
  color: #e0702b;
}
* {
  transition: ease-in-out 300ms;
}
